<meta charset="UTF-8" />
<title>Open AI Playground</title>

<!-- CSS (load bootstrap from a CDN) -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
  integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<style>
  body {
    padding-top: 50px;
  }
</style>
